<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Package4CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Package4CS.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Dest" serializeAs="String">
                <value />
            </setting>
            <setting name="PackageID" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>1</value>
            </setting>
        </Package4CS.Properties.Settings>
    </userSettings>
</configuration>